
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Turtle Project</title> 
</head> 
<body> 
    {% csrf_token %}
<H1> 
Database Test:
    </H1> 
    <p>
        Project Name is <b>{{ projectname }}</b>
    </p>
<br/> 
    <p> 
        Project Id is <b>{{ idn }}</b>
    </p> 
<br> 
    <p> 
        Day is <b>{{ day }}</b> 
    </p> 
<br>
<form action="/login/" method="post">
    {% csrf_token %}
    <input type="submit" value="LogOut">

</form>
</body> 
</html>